<tr>
	<td><%= t1gene.GeneSymbol%></td>
	<td><%= t1gene.StdName%></td>
	<td><%= t1gene.Chr%></td>
	<td><%= t1gene.Pos%></td>
	<td><%= t1gene.NCIROHF%></td>
	<td><%= t1gene.HAPMAPROHF%></td>
	<td><%= t1gene.FRA%></td>
</tr>
